:root {
  --graycolor: #dadada;
  --headerText: #00c0c0;
  --secondaryText: gray;
}

.App {
  display: flex;
  justify-content: center;
}

button {
  color: black;
  background-color: var(--graycolor);
  border: none;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
}

.btn{
  width: 250px;
  background-color: rgb(56, 149, 255);
  padding: 12px;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color:white;
}

.btn > .fas {
  font-size: 17px;
  color:white
}
