:root {
  --graycolor: #dadada;
  --headerText: #00c0c0;
}

.App {
  display: flex;
  justify-content: center;
}

button {
  color: black;
  background-color: var(--graycolor);
  border: none;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
}
